# Copy this file to tests/.env and replace the example values.
ORGANIZATION_LEGAL_NAME="My Organization, Inc."
ORGANIZATION_NAME=MyOrganization
REPOSITORY_NAME=myproject
PROJECT_NAME=MyProject
AUTHORS="My Name"
DATABASE_NAME=MyProjectDb
